# Libraries

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import FunctionTransformer

# Dataset

In [57]:
df = pd.read_csv('../Data Received/cookies.csv')

In [58]:
len(df.columns)

16

In [62]:
df.duplicated().sum()

12

In [60]:
df.isna().sum()

sugar to flour ratio     0
sugar index              5
bake temp                0
chill time               0
calories                 0
density                  0
pH                       0
grams baking soda        0
bake time               10
quality                  0
butter type              0
weight                   0
diameter                 0
mixins                   2
crunch factor            0
aesthetic appeal         0
dtype: int64

# 1. Create functions for cleaning Pipeline

## 1.1 Drop NaNs

In [3]:
# Drop rows with NaNs
# Since there are very few we drop all the rows
def drop_nans(df):
    X = df.dropna()
    return X

# Convert function to transformer to include in the pipeline
NaNDropper = FunctionTransformer(drop_nans, validate=False)

## 1.2 Outlier check

In [5]:
def drop_outliers(df):
    # Drop cookies with Cal < 6 
    df = df.drop(df[df['calories'] <= 6].index)

    # Drop degrees because data makes no sense
    df = df.drop('bake temp', axis = 1)

    # Drop density above 1.1
    df = df.drop(df[df['density'] > 1.1].index)

    # Drop pH above 15
    df = df.drop(df[df['pH'] > 10].index)

    # Drop weight below 0 
    X = df.drop(df[df['weight'] < 0].index)
    
    # Drop aesthetic appeal
    
    X = df.drop('aesthetic appeal', axis = 1)
    
    return X

# Convert function to transformer to include in the pipeline
OutlierDropper = FunctionTransformer(drop_outliers, validate=False)

## 1.3 Encode categ columns

In [6]:
def categ_encoder(df):
    # Encode mixins column
    mixin_list = ["nuts","chocolate","raisins","oats","peanut butter"]
    for i in mixin_list:
        df[i]=""

    for i in mixin_list:
        df[i]=df["mixins"].str.contains(i).astype(int)

    X = df.drop(['mixins'], axis = 1)
    
    return X

# Convert function to transformer to include in the pipeline
CategEncoder = FunctionTransformer(categ_encoder, validate=False)

In [7]:
def onehot_encoder(df):
    # One hote encode 
    df['butter type'] =pd.get_dummies(df['butter type'],drop_first=True)
    X = df
    
    return X
    
# Convert function to transformer to include in the pipeline
OneHotEncoder = FunctionTransformer(onehot_encoder, validate=False)

# 2. Create the Pipeline

In [8]:
from sklearn.pipeline import Pipeline

# Create Pipeline

pipeline_one = Pipeline([
    ('nan_dropper', NaNDropper),
    ('outlier_dropper', OutlierDropper),
    ('categ_encoder', CategEncoder),
    ('one_hot_encoder', OneHotEncoder)
])

In [9]:
df = pipeline_one.fit_transform(df)

In [10]:
df

,sugar to flour ratio,sugar index,chill time,calories,density,pH,grams baking soda,bake time,quality,butter type,weight,diameter,crunch factor,nuts,chocolate,raisins,oats,peanut butter
0,0.25,9.5,15.0,136.0,0.99367,8.10,0.44,12.1,8,1,15.2,7,1.30,0,0,1,0,0
1,0.23,3.3,34.0,113.0,0.99429,8.16,0.48,8.4,7,1,12.4,7,1.71,0,0,1,0,0
2,0.18,1.9,33.0,106.0,0.98746,8.21,0.83,14.0,9,1,9.4,7,1.78,1,1,0,0,0
3,0.18,10.5,41.0,124.0,0.99630,8.14,0.35,10.5,7,1,12.2,7,1.59,0,1,0,0,0
4,0.24,2.4,6.0,33.0,0.99740,8.09,0.57,9.4,5,0,19.8,7,1.30,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5193,0.66,2.0,15.0,88.0,0.99357,8.66,0.60,11.5,6,0,11.6,7,1.36,0,0,0,0,1
5194,0.16,1.5,10.0,97.0,0.99170,8.48,0.44,10.7,8,1,10.0,7,1.80,0,0,1,0,0
5195,0.25,14.3,79.0,149.0,0.99750,8.12,0.37,9.7,7,1,13.4,7,1.07,0,1,0,1,0
5196,0.33,1.4,35.0,136.0,0.99380,8.63,0.78,10.3,8,1,13.8,7,1.77,0,1,0,0,0
5197,0.44,1.8,28.0,68.0,0.99501,8.36,0.66,11.2,5,0,16.0,7,1.61,0,1,0,0,0

### Training a Model

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score

In [12]:
X = df.drop('quality', axis=1)
y = df['quality']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [14]:
#####

In [15]:
from sklearn.model_selection import GridSearchCV

# initialize model (no parameters)
rfc = RandomForestRegressor()

# define grid search
rfc_search = GridSearchCV(estimator = rfc,
                          param_grid = {"n_estimators":[1000]},
                            scoring="r2",
                            cv=10)

# all possible metrics here:
# from sklearn.metrics import SCORERS
# sorted(SCORERS.keys())

In [16]:
rfc_search.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None, param_grid={'n_estimators': [1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='r2', verbose=0)

In [17]:
rfc_pred_01 = rfc_search.predict(X_test)

In [18]:
r2 = r2_score(y_test,rfc_pred_01)
print(r2)

0.748230740278615

In [19]:
mse = MSE(y_test, rfc_pred_01)

In [20]:
rmse = mse**(0.5)
print(rmse)

0.649554930202286

In [54]:
####

In [137]:
rfc = RandomForestRegressor(n_estimators=2000)

In [138]:
rfc.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=2000, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [139]:
rfc_pred = rfc.predict(X_test)

In [140]:
r2 = r2_score(y_test,rfc_pred)
print(r2)

0.7637634928827076

In [141]:
mse = MSE(y_test, rfc_pred)

In [142]:
rmse = mse**(0.5)
print(rmse)

0.65366031713964

In [64]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
# Instantiate gb
gb = GradientBoostingRegressor(random_state=123)
param_grid_gb= {'learning_rate': [0.01,0.03],
                  'max_depth'    : [4,6,8,10] 
                 }
gb_gs = GridSearchCV(gb, param_grid_gb, cv=10, scoring="r2")
gb_gs.fit(X_train, y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.1,
                                                 loss='ls', max_depth=3,
                                                 max_features=None,
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100,
                                                 n_iter_no_change=None,
                                                 presort='deprecated',
                                                 random_state=123,
                                                 subsample=1.0, tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': [0.01, 0.03],
                         'max_depth': [4, 6, 8, 10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='r2', verbose=0)

In [75]:
gb_gs.best_score_

0.7341139691149093

In [79]:
gb_pred = gb_gs.predict(df_val)

In [81]:
gb_pred = pd.DataFrame({'results':gb_pred})

In [82]:
gb_pred

      results
0    7.313393
1    8.031364
2    7.615203
3    8.257084
4    7.765867
..        ...
774  5.340720
775  5.144067
776  5.562395
777  4.806857
778  5.497803

[779 rows x 1 columns]

In [83]:
gb_pred.to_csv('../Data/GradientBoostingResults.csv')

### Validation Dataset Imported

In [34]:
validation = pd.read_csv('../Data/cookies_validate.csv')

In [35]:
validation.head(1)

,id,sugar to flour ratio,sugar index,bake temp,chill time,calories,density,pH,grams baking soda,bake time,quality,butter type,weight,diameter,mixins,crunch factor,aesthetic appeal
0,14,0.62,19.25,400.0,41.0,172.0,1.0002,7.98,0.67,9.7,0,melted,16.6,7,"nuts, chocolate",1.85,3

#### Applying Pipeline to Validation Dataset

In [36]:
df_val = pipeline_one.fit_transform(validation)

In [37]:
df_val

,id,sugar to flour ratio,sugar index,chill time,calories,density,pH,grams baking soda,bake time,quality,butter type,weight,diameter,crunch factor,nuts,chocolate,raisins,oats,peanut butter
0,14,0.62,19.25,41.0,172.0,1.00020,7.98,0.67,9.7,0,1,16.6,7,1.85,1,1,0,0,0
1,26,0.35,1.00,35.0,146.0,0.99300,8.45,0.44,10.0,0,1,13.8,7,1.43,0,1,0,0,0
2,30,0.39,10.40,20.0,142.0,0.99740,8.20,0.53,10.0,0,1,17.0,7,1.57,0,1,0,0,0
3,52,0.33,1.10,21.0,82.0,0.99100,8.32,0.46,10.9,0,1,12.4,7,1.44,0,1,0,1,0
4,100,0.37,13.50,52.0,192.0,0.99750,8.00,0.44,9.1,0,1,14.8,7,1.51,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,1442,0.02,1.90,18.0,30.0,0.99712,8.40,0.75,9.8,0,0,13.8,7,1.01,1,1,0,1,0
775,1445,0.19,5.20,19.0,98.0,0.99713,8.16,0.52,9.6,0,0,14.8,7,1.68,1,0,0,1,0
776,1461,0.00,2.10,6.0,13.0,0.99664,8.59,0.61,10.0,0,0,12.4,7,1.38,1,0,0,1,0
777,1467,0.08,2.30,19.0,32.0,0.99648,8.52,0.57,11.0,0,0,13.4,7,1.63,0,0,0,0,1
778,1474,0.50,13.80,48.0,82.0,1.00242,8.16,0.75,8.8,0,0,19.8,7,1.90,1,0,1,0,0

In [38]:
df_val=df_val.drop('quality', axis=1)

In [39]:
df_val = df_val.drop('id', axis=1)

In [40]:
df_val.head(1)

,sugar to flour ratio,sugar index,chill time,calories,density,pH,grams baking soda,bake time,butter type,weight,diameter,crunch factor,nuts,chocolate,raisins,oats,peanut butter
0,0.62,19.25,41.0,172.0,1.0002,7.98,0.67,9.7,1,16.6,7,1.85,1,1,0,0,0

### Predictions

In [44]:
rfc_pred = rfc_search.predict(df_val)

In [45]:
rfc_pred

array([7.642, 8.193, 7.628, 8.359, 7.424, 7.394, 7.863, 7.305, 7.655,
       7.894, 7.638, 7.95 , 7.268, 7.789, 8.395, 7.593, 8.185, 7.687,
       8.104, 8.091, 7.929, 8.405, 8.359, 7.424, 7.409, 6.609, 6.831,
       7.331, 6.974, 7.252, 8.11 , 7.854, 7.439, 7.721, 7.981, 8.368,
       9.187, 8.037, 6.765, 7.569, 8.001, 6.948, 8.102, 7.21 , 7.446,
       7.524, 7.469, 8.132, 7.508, 7.934, 6.952, 7.53 , 7.552, 7.62 ,
       7.908, 7.516, 7.356, 7.722, 8.213, 8.906, 7.668, 7.862, 6.931,
       8.224, 8.037, 7.845, 7.523, 7.532, 7.422, 8.226, 8.068, 8.316,
       7.116, 6.991, 8.124, 7.03 , 7.771, 7.767, 7.343, 7.827, 7.623,
       8.066, 7.428, 8.924, 7.074, 8.34 , 8.285, 7.951, 7.776, 8.928,
       7.743, 7.285, 8.19 , 7.971, 7.828, 7.713, 7.978, 8.128, 7.68 ,
       7.207, 8.809, 7.867, 9.019, 8.511, 8.686, 7.842, 7.552, 7.313,
       7.571, 8.761, 7.795, 7.037, 7.196, 7.482, 7.507, 6.951, 7.906,
       7.902, 8.778, 7.334, 7.789, 7.59 , 6.84 , 7.672, 7.942, 7.747,
       7.135, 8.013, 7.137, 8.272, 7.356, 8.4  , 7.154, 7.111, 7.161,
       8.776, 7.108, 9.833, 8.171, 8.175, 7.977, 7.893, 7.396, 7.139,
       7.711, 7.194, 7.022, 8.704, 8.188, 8.34 , 7.343, 7.841, 7.817,
       7.307, 7.196, 7.807, 7.931, 7.08 , 8.417, 8.84 , 8.081, 7.488,
       7.363, 8.566, 7.834, 7.114, 7.561, 7.728, 7.407, 8.207, 8.991,
       7.969, 7.352, 7.484, 7.402, 8.082, 8.588, 7.879, 8.203, 8.158,
       7.266, 7.152, 7.497, 7.124, 7.04 , 6.556, 7.626, 7.034, 7.004,
       8.225, 7.642, 7.016, 8.422, 7.272, 8.221, 8.215, 7.056, 7.064,
       8.85 , 8.153, 7.705, 8.756, 8.699, 7.096, 8.524, 7.671, 7.026,
       7.48 , 7.35 , 8.021, 7.636, 7.256, 6.526, 7.914, 7.317, 7.533,
       7.845, 7.999, 7.355, 7.433, 7.453, 7.203, 7.125, 7.799, 7.076,
       7.103, 7.722, 7.17 , 7.804, 7.342, 7.215, 7.346, 6.595, 7.112,
       7.428, 8.819, 8.966, 7.451, 8.487, 7.647, 7.716, 8.279, 7.396,
       7.125, 7.447, 7.271, 7.566, 7.877, 7.716, 7.481, 7.484, 8.994,
       6.757, 7.775, 7.462, 8.857, 7.419, 7.12 , 8.036, 7.079, 8.715,
       7.152, 7.319, 8.702, 8.017, 7.646, 7.238, 7.259, 7.615, 7.99 ,
       8.822, 7.202, 7.701, 7.039, 8.777, 7.359, 8.29 , 9.588, 7.858,
       8.48 , 7.418, 8.023, 7.445, 7.697, 8.383, 8.001, 7.4  , 7.212,
       8.84 , 7.144, 8.492, 8.625, 8.156, 8.081, 7.382, 8.859, 8.512,
       7.765, 7.946, 7.485, 8.165, 7.984, 7.858, 7.461, 7.915, 8.783,
       8.451, 8.636, 8.056, 8.17 , 8.546, 8.14 , 8.414, 7.63 , 8.395,
       7.096, 7.374, 7.292, 8.046, 8.865, 7.828, 8.003, 7.966, 8.366,
       7.751, 7.818, 8.428, 9.556, 7.202, 8.363, 7.081, 8.66 , 8.35 ,
       7.389, 8.086, 8.485, 8.118, 8.084, 9.296, 8.144, 7.034, 7.375,
       7.755, 8.532, 8.518, 7.893, 8.576, 7.357, 7.715, 7.752, 7.875,
       7.22 , 7.618, 8.298, 8.029, 7.429, 8.19 , 7.586, 8.214, 8.33 ,
       8.051, 8.323, 7.406, 8.726, 8.371, 8.067, 7.549, 7.395, 8.06 ,
       7.291, 8.251, 8.601, 8.155, 7.854, 7.61 , 8.445, 7.973, 8.918,
       9.239, 9.449, 8.116, 8.527, 7.245, 8.249, 8.601, 8.097, 8.178,
       9.123, 8.615, 7.311, 8.532, 8.071, 8.09 , 8.892, 8.492, 8.553,
       7.424, 7.394, 7.618, 8.381, 8.653, 6.905, 8.437, 8.838, 8.721,
       8.168, 7.835, 7.547, 8.288, 7.989, 8.713, 8.462, 7.493, 8.036,
       7.371, 7.791, 8.877, 7.259, 8.599, 8.623, 8.225, 8.45 , 9.522,
       8.134, 8.302, 7.36 , 8.623, 7.743, 7.697, 8.676, 9.069, 7.065,
       8.2  , 8.217, 8.88 , 7.736, 8.342, 7.935, 8.561, 7.835, 8.255,
       9.033, 8.477, 8.457, 7.655, 8.723, 8.279, 7.162, 8.585, 8.652,
       8.011, 7.885, 7.973, 7.958, 7.863, 8.128, 7.878, 7.773, 7.843,
       7.862, 8.834, 8.174, 8.98 , 8.469, 8.084, 7.721, 8.067, 7.75 ,
       7.348, 7.439, 8.54 , 8.258, 9.507, 7.027, 7.114, 7.959, 8.018,
       7.089, 8.383, 9.026, 8.252, 8.162, 7.377, 7.13 , 7.169, 8.597,
       8.466, 7.408, 8.957, 8.386, 7.41 , 8.107, 7.471, 9.628, 8.013,
       8.418, 8.337, 8.414, 7.145, 7.516, 6.936, 6.961, 7.149, 7.98 ,
       8.641, 7.664, 7.96 , 8.367, 8.88 , 8.903, 8.34 , 9.047, 7.299,
       7.358, 8.284, 7.889, 7.975, 8.337, 7.362, 8.454, 7.905, 8.148,
       6.846, 8.101, 9.012, 9.068, 8.325, 8.394, 7.446, 8.783, 7.649,
       7.192, 9.067, 8.178, 8.245, 7.846, 8.056, 8.455, 8.108, 8.447,
       7.714, 8.862, 8.02 , 7.908, 8.258, 7.29 , 7.291, 7.946, 8.082,
       8.922, 7.788, 7.922, 8.05 , 7.917, 8.03 , 7.521, 7.959, 7.796,
       7.213, 8.119, 8.655, 8.393, 8.615, 7.641, 7.365, 7.229, 7.191,
       7.108, 8.098, 7.031, 7.008, 8.998, 9.002, 7.867, 7.186, 8.304,
       7.825, 7.438, 7.448, 8.383, 7.037, 6.418, 8.543, 8.411, 7.725,
       8.862, 8.109, 7.3  , 8.167, 7.802, 8.477, 8.362, 8.488, 8.631,
       7.361, 7.379, 7.934, 7.723, 8.315, 8.261, 8.92 , 8.95 , 8.3  ,
       9.997, 7.602, 8.159, 7.205, 7.289, 7.251, 8.109, 7.92 , 8.085,
       8.386, 8.222, 7.89 , 7.407, 7.165, 7.215, 7.893, 7.809, 7.845,
       7.848, 7.705, 8.384, 7.202, 8.077, 7.36 , 7.361, 7.362, 8.426,
       8.236, 8.535, 6.914, 7.19 , 8.355, 7.198, 8.234, 7.117, 8.156,
       8.248, 7.537, 7.828, 8.401, 8.086, 7.762, 8.601, 8.53 , 8.361,
       8.985, 8.275, 9.27 , 7.013, 8.673, 8.361, 8.35 , 8.628, 6.943,
       8.602, 8.646, 8.637, 8.733, 7.764, 7.574, 7.747, 7.993, 8.014,
       6.818, 8.467, 8.136, 7.033, 8.111, 7.878, 8.025, 7.792, 8.176,
       8.347, 8.165, 8.867, 7.958, 8.398, 7.803, 8.275, 7.765, 7.744,
       8.472, 8.384, 8.29 , 7.184, 7.703, 7.701, 7.703, 8.661, 8.018,
       7.197, 8.633, 7.567, 7.173, 8.588, 8.557, 6.592, 7.636, 8.213,
       7.739, 8.883, 8.422, 8.793, 5.016, 5.433, 5.302, 5.572, 5.448,
       5.109, 5.234, 5.085, 5.352, 5.841, 5.525, 5.158, 6.389, 5.813,
       5.068, 5.703, 6.599, 6.551, 5.184, 6.067, 6.754, 5.377, 5.864,
       5.146, 5.511, 6.055, 6.594, 5.657, 6.417, 5.465, 5.783, 5.144,
       5.828, 5.094, 5.54 , 5.027, 5.938, 6.423, 6.122, 5.468, 5.048,
       6.467, 6.107, 6.623, 6.941, 5.702, 6.569, 6.791, 5.059, 6.197,
       5.148, 5.914, 5.344, 5.986, 6.364, 6.131, 6.761, 6.493, 5.425,
       5.496, 5.963, 5.939, 5.756, 5.167, 6.702, 5.211, 5.601, 4.676,
       5.148, 5.024, 4.829, 4.875, 5.373])

In [46]:
rfc_pred = pd.DataFrame({'results':rfc_pred})

In [48]:
rfc_pred.to_csv('../Data/RandonForestResults.csv')

In [50]:
rfc_pred

     results
0      7.642
1      8.193
2      7.628
3      8.359
4      7.424
..       ...
774    5.148
775    5.024
776    4.829
777    4.875
778    5.373

[779 rows x 1 columns]